### 목차

4~28. Category, Installs로 집계함수만들기

In [1]:
import pandas as pd
import numpy as np

In [2]:
chart = pd.read_csv('data/Google-Playstore.csv')
chart.head()

,App Name,App Id,Category,Rating,Rating Count,Installs,Minimum Installs,Maximum Installs,Free,Price,...,Developer Website,Developer Email,Released,Last Updated,Content Rating,Privacy Policy,Ad Supported,In App Purchases,Editors Choice,Scraped Time
0,Gakondo,com.ishakwe.gakondo,Adventure,0.0,0.0,10+,10.0,15,True,0.0,...,https://beniyizibyose.tk/#/,jean21101999@gmail.com,"Feb 26, 2020","Feb 26, 2020",Everyone,https://beniyizibyose.tk/projects/,False,False,False,2021-06-15 20:19:35
1,Ampere Battery Info,com.webserveis.batteryinfo,Tools,4.4,64.0,"5,000+",5000.0,7662,True,0.0,...,https://webserveis.netlify.app/,webserveis@gmail.com,"May 21, 2020","May 06, 2021",Everyone,https://dev4phones.wordpress.com/licencia-de-uso/,True,False,False,2021-06-15 20:19:35
2,Vibook,com.doantiepvien.crm,Productivity,0.0,0.0,50+,50.0,58,True,0.0,...,NaN,vnacrewit@gmail.com,"Aug 9, 2019","Aug 19, 2019",Everyone,https://www.vietnamairlines.com/vn/en/terms-an...,False,False,False,2021-06-15 20:19:35
3,Smart City Trichy Public Service Vehicles 17UC...,cst.stJoseph.ug17ucs548,Communication,5.0,5.0,10+,10.0,19,True,0.0,...,http://www.climatesmarttech.com/,climatesmarttech2@gmail.com,"Sep 10, 2018","Oct 13, 2018",Everyone,NaN,True,False,False,2021-06-15 20:19:35
4,GROW.me,com.horodyski.grower,Tools,0.0,0.0,100+,100.0,478,True,0.0,...,http://www.horodyski.com.pl,rmilekhorodyski@gmail.com,"Feb 21, 2020","Nov 12, 2018",Everyone,http://www.horodyski.com.pl,False,False,False,2021-06-15 20:19:35

In [3]:
chart.columns

Index(['App Name', 'App Id', 'Category', 'Rating', 'Rating Count', 'Installs',
       'Minimum Installs', 'Maximum Installs', 'Free', 'Price', 'Currency',
       'Size', 'Minimum Android', 'Developer Id', 'Developer Website',
       'Developer Email', 'Released', 'Last Updated', 'Content Rating',
       'Privacy Policy', 'Ad Supported', 'In App Purchases', 'Editors Choice',
       'Scraped Time'],
      dtype='object')

In [4]:
#몇몇 column 들의 ' '인 부분을 '_'로 바꾸기
def change_col_name(col_name):
    col_name = col_name.replace(' ', '_')
    return col_name

chart.rename(columns = change_col_name, inplace=True)
chart

,App_Name,App_Id,Category,Rating,Rating_Count,Installs,Minimum_Installs,Maximum_Installs,Free,Price,...,Developer_Website,Developer_Email,Released,Last_Updated,Content_Rating,Privacy_Policy,Ad_Supported,In_App_Purchases,Editors_Choice,Scraped_Time
0,Gakondo,com.ishakwe.gakondo,Adventure,0.0,0.0,10+,10.0,15,True,0.0,...,https://beniyizibyose.tk/#/,jean21101999@gmail.com,"Feb 26, 2020","Feb 26, 2020",Everyone,https://beniyizibyose.tk/projects/,False,False,False,2021-06-15 20:19:35
1,Ampere Battery Info,com.webserveis.batteryinfo,Tools,4.4,64.0,"5,000+",5000.0,7662,True,0.0,...,https://webserveis.netlify.app/,webserveis@gmail.com,"May 21, 2020","May 06, 2021",Everyone,https://dev4phones.wordpress.com/licencia-de-uso/,True,False,False,2021-06-15 20:19:35
2,Vibook,com.doantiepvien.crm,Productivity,0.0,0.0,50+,50.0,58,True,0.0,...,NaN,vnacrewit@gmail.com,"Aug 9, 2019","Aug 19, 2019",Everyone,https://www.vietnamairlines.com/vn/en/terms-an...,False,False,False,2021-06-15 20:19:35
3,Smart City Trichy Public Service Vehicles 17UC...,cst.stJoseph.ug17ucs548,Communication,5.0,5.0,10+,10.0,19,True,0.0,...,http://www.climatesmarttech.com/,climatesmarttech2@gmail.com,"Sep 10, 2018","Oct 13, 2018",Everyone,NaN,True,False,False,2021-06-15 20:19:35
4,GROW.me,com.horodyski.grower,Tools,0.0,0.0,100+,100.0,478,True,0.0,...,http://www.horodyski.com.pl,rmilekhorodyski@gmail.com,"Feb 21, 2020","Nov 12, 2018",Everyone,http://www.horodyski.com.pl,False,False,False,2021-06-15 20:19:35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2312939,大俠客—熱血歸來,com.rxsj.ssjj,Role Playing,4.3,16775.0,"100,000+",100000.0,337109,True,0.0,...,http://www.4399sy.com.hk/,ssjjcomhk@gmail.com,NaN,"Jun 01, 2021",Teen,http://a.4399sy.com.hk/user/aggreement,False,False,False,2021-06-16 12:59:18
2312940,ORU Online,com.threedream.oruonline,Education,0.0,0.0,100+,100.0,430,True,0.0,...,http://www.oru.edu/,3DreamDeveloper@gmail.com,"Jan 17, 2018","Feb 02, 2018",Everyone,http://www.oru.edu/about-oru/privacy-policy.php,False,False,False,2021-06-16 12:59:19
2312941,Data Structure,datastructure.appoworld.datastucture,Education,0.0,0.0,100+,100.0,202,True,0.0,...,NaN,appoworld.official@gmail.com,"Aug 19, 2018","Aug 19, 2018",Everyone,https://appoworld.000webhostapp.com/datastruct...,False,False,False,2021-06-16 12:59:19
2312942,Devi Suktam,ishan.devi.suktam,Music & Audio,3.5,8.0,"1,000+",1000.0,2635,True,0.0,...,https://a70f78905.app-ads-txt.com,ruchisono@gmail.com,"Aug 1, 2016","May 05, 2021",Everyone,https://docs.google.com/document/d/1x-9reZuLRX...,True,False,False,2021-06-16 12:59:19
2312943,Biliyor Musun - Sonsuz Yarış,com.yyazilim.biliyormusun,Trivia,5.0,12.0,100+,100.0,354,True,0.0,...,NaN,yyazilimdevelop@gmail.com,"Aug 9, 2019","Aug 19, 2019",Everyone,https://biliyor-musun-sons.flycricket.io/priva...,True,False,False,2021-06-16 12:59:19

### 1. Category, Installs를 기준으로 집계함수 만들기

1. 데이터의 전처리

2. 특정 컬럼의 형변환

3. 특정 행만을 선택하여 필터링

---
#### 1-1. 데이터 전처리

In [5]:
#별도의 리스트를 만들어 필요한 컬럼만을 가져오기
list_a = ['App_Name', 'Category', 'Rating', 'Rating_Count', 'Installs', 'Developer_Id']
chart_filtered = chart.loc[:, list_a]
chart_filtered.head()

,App_Name,Category,Rating,Rating_Count,Installs,Developer_Id
0,Gakondo,Adventure,0.0,0.0,10+,Jean Confident Irénée NIYIZIBYOSE
1,Ampere Battery Info,Tools,4.4,64.0,"5,000+",Webserveis
2,Vibook,Productivity,0.0,0.0,50+,Cabin Crew
3,Smart City Trichy Public Service Vehicles 17UC...,Communication,5.0,5.0,10+,Climate Smart Tech2
4,GROW.me,Tools,0.0,0.0,100+,Rafal Milek-Horodyski

In [6]:
#null값 존재여부 및 dtype 확인
chart_filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2312944 entries, 0 to 2312943
Data columns (total 6 columns):
 #   Column        Dtype
---  ------        -----
 0   App_Name      object
 1   Category      object
 2   Rating        float64
 3   Rating_Count  float64
 4   Installs      object
 5   Developer_Id  object
dtypes: float64(2), object(4)
memory usage: 105.9+ MB

In [7]:
#컬럼별로 na값이 있는지 확인
chart_filtered.isna().any()

App_Name         True
Category        False
Rating           True
Rating_Count     True
Installs         True
Developer_Id     True
dtype: bool

In [8]:
#na값 처리 및 Raiting_Count 형변환
chart_filtered['Category'] = chart_filtered['Category'].fillna('Other')
chart_filtered[['App_Name', 'Developer_Id']] = chart_filtered[['App_Name', 'Developer_Id']].fillna('no_input')
chart_filtered[['Rating', 'Rating_Count', 'Installs']] = chart_filtered[['Rating', 'Rating_Count', 'Installs']].fillna(0)
chart_filtered['Rating_Count'] = chart_filtered['Rating_Count'].astype('int')
chart_filtered.isna().any()

App_Name        False
Category        False
Rating          False
Rating_Count    False
Installs        False
Developer_Id    False
dtype: bool

In [9]:
#Installs컬럼의 밸류값 가독성 있게 바꾸기
chart_filtered['Installs'] = (
    chart_filtered['Installs']
    .str.replace('1,000,000+', '1mn')
    .str.replace('5,000,000+', '5mn')
    .str.replace('10,000,000+', '10mn')
    .str.replace('50,000,000+', '50mn')
    .str.replace('100,000,000+', '100mn')
    .str.replace('500,000,000+', '500mn')
    .str.replace('1mn,000+', '1bn')
    .str.replace('5mn,000+', '5bn')
)

C:\Users\I213-17\AppData\Local\Temp\ipykernel_9952\1457455050.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  chart_filtered['Installs']

In [10]:
#제대로 바뀌었는지 확인
chart_filtered['Installs'].value_counts()

100+         443368
1,000+       398199
10+          300156
10,000+      256723
500+         189077
50+          170465
5,000+       143593
100,000+     110257
50,000+       75359
5+            73772
1+            65345
1mn+          33650
500,000+      27012
0+            11566
5mn+           6595
10mn+          6192
50mn+           824
100mn+          549
500mn+           65
1bn+             55
5bn+             14
10mn,000+         1
Name: Installs, dtype: int64

In [11]:
#100만 다운로드 이상의 어플들만 추출
for_popular = ['1mn+', '5mn+', '10mn+', '50mn+', '100mn+', '500mn+', '1bn+', '5bn+']
chart_popular = chart_filtered[chart_filtered['Installs'].isin(for_popular)]
chart_popular

,App_Name,Category,Rating,Rating_Count,Installs,Developer_Id
92,Car Games Revival: Car Racing Games for Kids,Racing,3.9,55218,10mn+,Abstron Pvt Ltd
125,Smart File Manager,Productivity,4.4,18241,1mn+,SmartWho
183,Transmute Robot Superhero,Lifestyle,3.9,3157,1mn+,crushiz
261,Photo Collage,Photography,3.6,1093,1mn+,Southern Studio
291,Taxsee Driver,Maps & Navigation,4.4,246,5mn+,Technologiya
...,...,...,...,...,...,...
2312411,Tuk Tuk Auto Rickshaw Driving,Simulation,3.9,8095,1mn+,Zing Mine Games Production
2312447,Snake Evolution - Mutant Serpent Game,Casual,4.4,15762,1mn+,Tapps Games
2312589,3 Days to Die - Escape Horror Game,Arcade,4.2,23586,1mn+,FunStorm Studio
2312677,Modern Strike : Multiplayer FPS - Critical Action,Role Playing,3.9,78351,10mn+,Enjoy.GameStudio.Fun
2312932,Hopeless 2: Cave Escape,Action,4.3,103466,5mn+,Upopa Games

In [12]:
chart_filtered

,App_Name,Category,Rating,Rating_Count,Installs,Developer_Id
0,Gakondo,Adventure,0.0,0,10+,Jean Confident Irénée NIYIZIBYOSE
1,Ampere Battery Info,Tools,4.4,64,"5,000+",Webserveis
2,Vibook,Productivity,0.0,0,50+,Cabin Crew
3,Smart City Trichy Public Service Vehicles 17UC...,Communication,5.0,5,10+,Climate Smart Tech2
4,GROW.me,Tools,0.0,0,100+,Rafal Milek-Horodyski
...,...,...,...,...,...,...
2312939,大俠客—熱血歸來,Role Playing,4.3,16775,"100,000+",ALICE GAME
2312940,ORU Online,Education,0.0,0,100+,"3Dream Studios, LLC"
2312941,Data Structure,Education,0.0,0,100+,appoworld
2312942,Devi Suktam,Music & Audio,3.5,8,"1,000+",Bhakti
2312943,Biliyor Musun - Sonsuz Yarış,Trivia,5.0,12,100+,Y Yazılım

In [13]:
#Category, Installs를 그룹으로 집계함수 만들기
(
    chart_popular
    .groupby(['Category','Installs'])
    .agg({'Rating':['mean', 'var', 'size'],
         'Rating_Count':['sum','mean','max','min']})
)

                     Rating                 Rating_Count                \
                       mean       var  size          sum          mean
Category Installs
Action   100mn+    4.263636  0.051205    44    182719607  4.152718e+06
         10mn+     4.153425  0.071836   365     94726369  2.595243e+05
         1mn+      3.960844  0.275199  1351     30960072  2.291641e+04
         500mn+    4.275000  0.009167     4    137591048  3.439776e+07
         50mn+     4.217391  0.030870    69     74439223  1.078829e+06
...                     ...       ...   ...          ...           ...
Word     100mn+    4.500000       NaN     1      1897173  1.897173e+06
         10mn+     4.388710  0.102985    62     20919291  3.374079e+05
         1mn+      4.324127  0.133684   315     10931684  3.470376e+04
         50mn+     4.350000  0.069444    10      9257684  9.257684e+05
         5mn+      4.410714  0.115156    56      7262587  1.296891e+05


                        max      min
Category Installs
Action   100mn+    26860860   130487
         10mn+      2132331      660
         1mn+        624980        0
         500mn+    89177097  1285629
         50mn+      4888977    18598
...                     ...      ...
Word     100mn+     1897173  1897173
         10mn+      2251455      209
         1mn+        254650       11
         50mn+      1723150   390689
         5mn+        750576        6

[269 rows x 7 columns]

In [14]:
#열쪽 인덱스 정리 및 지수표현식 제거
def flatten_cols(df):
    df.columns = ['_'.join(x) for x in df.columns.to_flat_index()]
    return df

chart_agg = (
    chart_popular
    .groupby(['Category', 'Installs'])
    .agg({'Rating':['mean', 'var', 'size'],
         'Rating_Count': ['sum', 'mean', 'max', 'min']})
    .pipe(flatten_cols)
)
#지수표현식 제거
pd.options.display.float_format = '{:.5f}'.format

chart_agg

                   Rating_mean  Rating_var  Rating_size  Rating_Count_sum  \
Category Installs
Action   100mn+        4.26364     0.05121           44         182719607
         10mn+         4.15342     0.07184          365          94726369
         1mn+          3.96084     0.27520         1351          30960072
         500mn+        4.27500     0.00917            4         137591048
         50mn+         4.21739     0.03087           69          74439223
...                        ...         ...          ...               ...
Word     100mn+        4.50000         NaN            1           1897173
         10mn+         4.38871     0.10299           62          20919291
         1mn+          4.32413     0.13368          315          10931684
         50mn+         4.35000     0.06944           10           9257684
         5mn+          4.41071     0.11516           56           7262587

                   Rating_Count_mean  Rating_Count_max  Rating_Count_min
Category Installs
Action   100mn+        4152718.34091          26860860            130487
         10mn+          259524.29863           2132331               660
         1mn+            22916.41155            624980                 0
         500mn+       34397762.00000          89177097           1285629
         50mn+         1078829.31884           4888977             18598
...                              ...               ...               ...
Word     100mn+        1897173.00000           1897173           1897173
         10mn+          337407.91935           2251455               209
         1mn+            34703.75873            254650                11
         50mn+          925768.40000           1723150            390689
         5mn+           129689.05357            750576                 6

[269 rows x 7 columns]

In [15]:
#reset_index()로 행쪽 인덱스 처리
chart_agg.reset_index()

,Category,Installs,Rating_mean,Rating_var,Rating_size,Rating_Count_sum,Rating_Count_mean,Rating_Count_max,Rating_Count_min
0,Action,100mn+,4.26364,0.05121,44,182719607,4152718.34091,26860860,130487
1,Action,10mn+,4.15342,0.07184,365,94726369,259524.29863,2132331,660
2,Action,1mn+,3.96084,0.27520,1351,30960072,22916.41155,624980,0
3,Action,500mn+,4.27500,0.00917,4,137591048,34397762.00000,89177097,1285629
4,Action,50mn+,4.21739,0.03087,69,74439223,1078829.31884,4888977,18598
...,...,...,...,...,...,...,...,...,...
264,Word,100mn+,4.50000,NaN,1,1897173,1897173.00000,1897173,1897173
265,Word,10mn+,4.38871,0.10299,62,20919291,337407.91935,2251455,209
266,Word,1mn+,4.32413,0.13368,315,10931684,34703.75873,254650,11
267,Word,50mn+,4.35000,0.06944,10,9257684,925768.40000,1723150,390689
268,Word,5mn+,4.41071,0.11516,56,7262587,129689.05357,750576,6

In [16]:
chart_popular.memory_usage(deep=True)

Index            383552
App_Name        4326994
Category        3184538
Rating           383552
Rating_Count     191776
Installs        2932828
Developer_Id    3501428
dtype: int64

In [17]:
#Category와 Installs를 카테고리화시 확실히 용량이 세이브됩니다.
(
    chart_popular
    .assign(Category=chart_popular.Category.astype('category'))
    .assign(Installs=chart_popular.Installs.astype('category'))
    .memory_usage(deep=True)
)

Index            383552
App_Name        4326994
Category          52214
Rating           383552
Rating_Count     191776
Installs          48738
Developer_Id    3501428
dtype: int64

In [18]:
#용량 세이브를 위해 카테고리화 후 집계함수 만들기
chart_agg2 = (
    chart_popular
    .assign(Category=chart_popular.Category.astype('category'))
    .assign(Installs=chart_popular.Installs.astype('category'))
    .groupby(['Category', 'Installs'])
    .agg({'Rating':['mean', 'var', 'size'],
         'Rating_Count': ['sum', 'mean', 'max', 'min']})
    .pipe(flatten_cols)
    .reset_index()
)
#없는 조합까지 전부 그룹화가 됩니다.
chart_agg2

,Category,Installs,Rating_mean,Rating_var,Rating_size,Rating_Count_sum,Rating_Count_mean,Rating_Count_max,Rating_Count_min
0,Action,100mn+,4.26364,0.05121,44,182719607,4152718.34091,26860860.00000,130487.00000
1,Action,10mn+,4.15342,0.07184,365,94726369,259524.29863,2132331.00000,660.00000
2,Action,1bn+,NaN,NaN,0,0,NaN,NaN,NaN
3,Action,1mn+,3.96084,0.27520,1351,30960072,22916.41155,624980.00000,0.00000
4,Action,500mn+,4.27500,0.00917,4,137591048,34397762.00000,89177097.00000,1285629.00000
...,...,...,...,...,...,...,...,...,...
379,Word,1mn+,4.32413,0.13368,315,10931684,34703.75873,254650.00000,11.00000
380,Word,500mn+,NaN,NaN,0,0,NaN,NaN,NaN
381,Word,50mn+,4.35000,0.06944,10,9257684,925768.40000,1723150.00000,390689.00000
382,Word,5bn+,NaN,NaN,0,0,NaN,NaN,NaN
383,Word,5mn+,4.41071,0.11516,56,7262587,129689.05357,750576.00000,6.00000

In [19]:
#group_by에 observed=True 적용하여 존재하는 조합만 생성
chart_agg2 = (
    chart_popular
    .assign(Category=chart_popular.Category.astype('category'))
    .assign(Installs=chart_popular.Installs.astype('category'))
    .groupby(['Category', 'Installs'], observed=True)
    .agg({'Rating':['mean', 'var', 'size'],
         'Rating_Count': ['sum', 'mean', 'max', 'min']})
    .pipe(flatten_cols)
    .reset_index()
)
chart_agg2

,Category,Installs,Rating_mean,Rating_var,Rating_size,Rating_Count_sum,Rating_Count_mean,Rating_Count_max,Rating_Count_min
0,Racing,10mn+,4.14076,0.12825,238,49022292,205976.01681,4486851,0
1,Racing,1mn+,3.96684,0.13087,748,11101362,14841.39305,129493,0
2,Racing,5mn+,4.07487,0.15200,191,11701494,61264.36649,565332,0
3,Racing,100mn+,4.27600,0.01607,25,72397387,2895895.48000,9553638,477477
4,Racing,50mn+,4.21429,0.03479,35,22707426,648783.60000,2490675,8061
...,...,...,...,...,...,...,...,...,...
264,Comics,5mn+,4.04615,0.09769,13,1114458,85727.53846,449977,207
265,Comics,50mn+,4.60000,NaN,1,1746185,1746185.00000,1746185,1746185
266,Events,10mn+,3.70000,NaN,1,77398,77398.00000,77398,77398
267,Events,1mn+,3.90455,0.58998,22,279874,12721.54545,53626,3393
268,Events,5mn+,4.40000,0.08000,2,136455,68227.50000,71880,64575

---
Category, Content_Rating를 기준으로 
pivot_table 만들기

In [20]:
chart.head()

,App_Name,App_Id,Category,Rating,Rating_Count,Installs,Minimum_Installs,Maximum_Installs,Free,Price,...,Developer_Website,Developer_Email,Released,Last_Updated,Content_Rating,Privacy_Policy,Ad_Supported,In_App_Purchases,Editors_Choice,Scraped_Time
0,Gakondo,com.ishakwe.gakondo,Adventure,0.00000,0.00000,10+,10.00000,15,True,0.00000,...,https://beniyizibyose.tk/#/,jean21101999@gmail.com,"Feb 26, 2020","Feb 26, 2020",Everyone,https://beniyizibyose.tk/projects/,False,False,False,2021-06-15 20:19:35
1,Ampere Battery Info,com.webserveis.batteryinfo,Tools,4.40000,64.00000,"5,000+",5000.00000,7662,True,0.00000,...,https://webserveis.netlify.app/,webserveis@gmail.com,"May 21, 2020","May 06, 2021",Everyone,https://dev4phones.wordpress.com/licencia-de-uso/,True,False,False,2021-06-15 20:19:35
2,Vibook,com.doantiepvien.crm,Productivity,0.00000,0.00000,50+,50.00000,58,True,0.00000,...,NaN,vnacrewit@gmail.com,"Aug 9, 2019","Aug 19, 2019",Everyone,https://www.vietnamairlines.com/vn/en/terms-an...,False,False,False,2021-06-15 20:19:35
3,Smart City Trichy Public Service Vehicles 17UC...,cst.stJoseph.ug17ucs548,Communication,5.00000,5.00000,10+,10.00000,19,True,0.00000,...,http://www.climatesmarttech.com/,climatesmarttech2@gmail.com,"Sep 10, 2018","Oct 13, 2018",Everyone,NaN,True,False,False,2021-06-15 20:19:35
4,GROW.me,com.horodyski.grower,Tools,0.00000,0.00000,100+,100.00000,478,True,0.00000,...,http://www.horodyski.com.pl,rmilekhorodyski@gmail.com,"Feb 21, 2020","Nov 12, 2018",Everyone,http://www.horodyski.com.pl,False,False,False,2021-06-15 20:19:35

In [21]:
#유료인 어플이면서 평점수 50개 이상인 어플 추려내기
p1 = chart['Free'] == True
p2 = chart['Ad_Supported'] == True
p3 = chart['Rating_Count'] > 7_000
p_fin = p1&p2*p3

C:\Users\I213-17\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:214: UserWarning: evaluating in Python space because the '*' operator is not supported by numexpr for the bool dtype, use '&' instead.
  warnings.warn(

In [22]:
app_Free = chart.loc[p_fin, ['Content_Rating', 'Category', 'Rating', 'Maximum_Installs']]
app_Free.rename(columns = {'Maximum_Installs':'max_Down'}, inplace=True)
app_Free = app_Free.assign(max_Down= app_Free.max_Down.astype('int'))
app_Free.head()

    Content_Rating      Category  Rating  max_Down
92        Everyone        Racing 3.90000  30052692
125       Everyone  Productivity 4.40000   3741253
372       Everyone         Tools 4.50000    820680
547       Everyone    Simulation 3.90000   3040422
561       Everyone        Social 4.40000  13629503

In [23]:
app_Free['Rating'] = app_Free['Rating'].([round(x, 2) for x in app_Free.Rating])
app_Free

SyntaxError: invalid syntax (3088871079.py, line 1)

In [ ]:
(
    app_pay
    .groupby(['Content_Rating', 'Category'])
    [['Rating', 'Price']]
    .agg(['size', 'mean', 'max', ''])
)